.image-to-show {
	display: none;
	transition: all ease 2s;
	width: 400px;
	height: 400px;
	border: 1px solid #00CBF6;
}

.images-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.active {
	transition: all ease 2s;
	display: block;
}

.buttons-wrapper {
	margin: 0 auto;
	display: none;
}

.start {
	color: black;
	font-size: 16px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
	background-color: lightgreen;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.stop {
	color: black;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: orangered;
	border: 1px solid black;
	padding: 10px;
	width: 135.5px;
	margin: 10px;
}
