.container {
    margin: 0 auto;
}

.nav_tab {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.block_tab {
    display: flex;
    border: 10px solid black;
    background-color: darkseagreen;
}

.item_tab {
    width: 140px;
    height: 45px;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.item_tab:hover {
    background-color: orangered;
    color: black;
}

.item_tab.active {
    background-color: darkseagreen;
    color: black;
}

.content {
    width: 1100px;
    margin: 0 auto;
}

.content_block {
    border: 10px solid black;
    display: none;
}

.content_tab {
    padding: 15px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.content_block.active {
    display: block;
}
