* {
    margin: 0;
    padding: 0;
}

.background {
    width: 1280px;
    margin: 0 auto;
}

.head-zone {
    margin-top: 30px;
    margin-bottom: 30px;
}

.company-name {
    font-size: 80px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-bottom: 40px;
}

.blue-text {
    color: deepskyblue;
}

.nav-top {
    text-align: center;
    background-color: #222F3A;
}

.nav-top-link {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 25px;
    border-left: 1px solid #000000;
}

.last-link {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 25px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.sidebar {
    list-style: none;
    font-size: 27px;
    border: 1px solid #000000;
    width: 350px;
    display: inline-block;
    vertical-align: top;
}

.sidebar-tour-item-price {
    padding: 30px 0 30px  45px;
    text-align: left;
}

.left-menu {
    display: inline-block;
    margin-top: 50px;
}

.sidebar-link {
    text-decoration: none;
    color: black;
}

.main-content {
    vertical-align: top;
    display: inline-block;
    width: 885px;
    margin-left: 38px;
}

.main-img-wrpaer {
    border: 1px solid #000000;
    padding: 75px 280px;
}

.main-img {
    width: 100%;
}

.main-text {
    margin: 45px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #2C2C2C;
}

.copyriht {
    background: rgba(99, 105, 110, 0.48);
    padding: 25px 35px;
    color: black;
}

.nav-bottom-link {
    text-decoration: none;
    margin-right: 25px;
    color: black;
    font-size: 24px;
}

.nav-bottom {
    box-sizing: border-box;
    display: inline-block;
}

.copyright {
    display: inline-block;
    margin-left: 316px;
    font-size: 20px;
}