* {
    margin: 0;
    padding: 0;
}

.background {
    background-img: url("../img/backg1.png");
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.header_zone {
    padding: 30px 0;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.logo {
    float: left;
}
.head-text {
    display: inline-block;
    color: #FFFFFF;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
}

.head-text-left {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}

.text-milan {
    display: inline-block;
}

.head-text:hover {
    color: #F26522;
}

.head-text:hover .img-logo {
    content: url("../img/logo 2.png");
}

.head-text-left:hover {
    color: #F26522;
}

.contacts {
    display: inline-block;
    float: right;
}

.contacts-text {
    text-align: right;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

.contact-mail:hover {
    color: #F26522;
}

.contacts-last {
    margin-top: 8px;
    display: block;
}

.tour-tour-item-price {
    display: inline-block;
    float: left;
    width: calc(100% /3 - 45px);
    margin-right: 65px;
    margin-bottom: 43px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.tour-tour-item-price:nth-child(3n) {
    margin-right: 0;
}

.contacts-last:hover {
    color: #F26522;
}


.tour-name {
    margin-top: 15px;
}

.tour-shoping {
    background-img: url("../img/Layer21.png");
}

.tour-sightseeing {
    background-img: url("../img/Layer22.png");
}

.tour-food {
    background-img: url("../img/Layer23.png");
}

.tour-bar {
    background-img: url("../img/Layer24.png");
}

.tour-art {
    background-img: url("../img/Layer25.png");
}

.tour-walking {
    background-img: url("../img/Layer26.png");
}

.tour-tour-item-price-img  {
    padding-top: 160px;
}

.tour-tour-item-price-description {
    padding: 10px;
    box-sizing: border-box;
    background-color: #f26522;
    opacity: 0;
}

.tour-tour-item-price:hover .tour-tour-item-price-description {
    opacity: 1;
}

.tour-tour-item-price:hover .tour-name {
    color: #f26522;
}

.galery-tour-item-price {
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}


.tour-item-link {
    margin-top: 20px;
    font-size: 14px;
    float: right;
}

.tour-item-link::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg);
    margin: 0 10px
}

.tour-item-price {
    font-size: 20px;
    float: left;
}

.tour-item-price:before {
    content: 'from';
    font-size: 10px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 6px;
}

.footer-zone {
    padding: 30px;
}

.copyriht {
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
}

.clearfix::after {
    content:'';
    display: block;
    clear: both;
}
