@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.ttf");
}
