.container {
    width: 1160px;
    margin: 0 auto;
}

.section {
    padding: 115px 0;
}

.header_zone {
    background-image: url("../img/background-image-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 14px solid #fff;
}

.header_nav {
    padding-top: 35px;
    background-color: rgba(0, 0, 0, 0.7);
}

.header_wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #fff;
}

.box_hexagon {
    position: relative;
    display: inline-block;
    width: 57px;
    height: 40px;
    background: #18CFAB;
    border-radius: 2px;
}

.box_hexagon::before,
.box_hexagon::after {
    content: '';
    display: inline-block;
    border: 17px solid #18CFAB;
    position: absolute;
    left: 0;
    border-right-color: transparent;
    border-left-color: transparent;
    border-left-width: 29px;
    border-right-width: 29px;
    border-radius: 2px;
}

.box_hexagon::before {
    border-top-width: 0;
    top: -16px;
    left: 0;
}

.box_hexagon::after {
    border-bottom-width: 0;
    bottom: -16px;
}

.logo_title_char {
    padding: 13px 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.logo_title_chars {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #18CFAB;
;
}

.wrap_nav_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    padding: 5px 5px 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: all ease 1s;
}

.nav_link+.nav_link {
    margin-left: 25px;
}

.nav_link:hover {
    color: #18CFAB;
    border-bottom: 3px solid #18CFAB;
    transition: all ease 1s;
}

.nav_search {
    margin-left: 25px;
    padding-bottom: 40px;
}

.sub_header_zone {
    width: 780px;
    margin: 0 auto;
    padding: 265px 0;
    text-align: center;
}

.sub_title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    z-index: 4;
}

.sub_title_dec {
    color: #18CFAB;
}

.sub_slogan {
    text-align: center;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    padding: 22px 0;
    text-transform: uppercase;
    color: #fff;
}

.sub_wish {
    z-index: 16;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
    color: #D4D4D4;
    padding-bottom: 135px;
}

.btn_inform {
    background-color: #18CFAB;
    transition: all ease 1s;
}

.btn_inform:hover {
    transition: all ease 1s;
    color: #18CFAB;
    background-color: #fff;
    border-top: 5px solid #18CFAB;
}

.btn_purchase {
    margin-left: 26px;
    background: #00CBF6;
    transition: all ease 1s;
}

.btn_purchase:hover {
    color: #00CBF6;
    background-color: #fff;
    transition: all ease 1s;
    border-top: 5px solid #00CBF6;
}

.btn_dec {
    width: 210px;
    border-top: 5px solid #fff;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
}

.cube_menu_wraper {
    display: flex;
    justify-content: flex-start;
}

.cube_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.cube_item:nth-child(odd) {
    background: #1C2A33;
    color: #18CFAB;
}

.cube_item:nth-child(even) {
    background: #18CFAB;
    color: #fff;
}

/* .cube_item:hover {
	transition: ease all 1s;
	border-radius: 50%;
	transform: scale(0.7);
	box-shadow: 0 0 20px 9px black;
	border: 7pt dotted white;
} */

.cube-menu-logo {
    padding: 95px 0 60px;
}

.cube-menu-title {
    padding-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.tabs {
    background: #fff;
}

.section_heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.section_heading::after {
    content: "";
    width: 85px;
    border: 2px solid #18CFAB;
    box-shadow: 23px 7px 0 0 #18CFAB;
    margin: 45px auto 90px;
    display: block;
}

.tabs_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 35px;
    background: #F8FCFE;
}

.tabs_item {
    position: relative;
    padding: 20px 32px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #717171;
    cursor: pointer;
    transition: all ease 1s;
    border: 1px solid #DADADA;
    border-right: 1px solid transparent;
}

.tabs_item:last-child {
    border-right: 1px solid #DADADA;
}

.tabs_item:hover {
    transition: all ease 1s;
    border: 1px solid #18CFAB;
    box-shadow: 0 0 7px 2px #18CFAB;
}

.tabs_item.active {
    box-shadow: 0 0 7px 2px #18CFAB;
    border: 1px solid #DADADA;
    background: #18CFAB;
    color: #fff;
}

.tabs_item.active::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -18px;
    left: 45%;
    border: 13px solid #18CFAB;
    border-top-width: 16px;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-left-color: transparent;
}

.tabs_box {
    justify-content: space-between;
    align-items: center;
    display: none;
}

.tabs_box.active {
    display: block;
}

.tabs_text {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    align-items: center;
    color: #777;
    width: 880px;
    display: inline-block;
}

.instant_purchase {
    background-image: url("../img/background-image-center.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.purchase_heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 20px;
}

.purchase_description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 85px;
}

.generation_photo {
    background: #E9EDEF;
}

.photo_gallery_list {
    width: 700px;
    margin: 0 auto 85px;
    display: flex;
    align-items: center;
}

.photo_gallery_item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 20px 23px;
    transition: all ease 1s;
    cursor: pointer;
    border-right: 1px solid transparent;
    background: #f0f2f3;
}

.photo_gallery_item:last-child {
    border-right: 1px solid #DADADA;
}

.photo_gallery_item:hover {
    transition: all ease 1s;
    border: 1px solid #18CFAB;
    box-shadow: 0 0 7px 2px #18CFAB;
}

.photo_gallery_item.active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.wrapper_gallery_img {
    display: flex;
    flex-wrap: wrap;
}

.box_gallery_img {
    cursor: pointer;
    width: 289px;
    height: 221px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.off {
    display: none;
}

.image_focus {
    border-top: 4px solid #18CFAB;
    padding-top: 60px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: ease-in-out all 1s;
}

.image_focus:hover {
    opacity: 1;
    transition: ease-in-out all 1s;
    box-shadow: 0 5px 15px 1px #1a2422;
}

.dekorate_circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #18CFAB;
    justify-content: center;
    align-items: center;
    transition: ease-in-out all 1s;
}

.dekorate_circle:hover {
    background-color: #18CFAB;
}

.gallery_icon {
    background-image: url('../img/circle-green.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
}

.wrap_icon:hover .gallery_icon {
    background-image: url('../img/icon-design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_cube {
    width: 12px;
    height: 12px;
    background-color: #18CFAB;
    display: inline-block;
}

.wrap_cube:hover .gallery_cube {
    background-color: #fff;
}

.gallery_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: 45px;
    text-transform: uppercase;
    color: #18CFAB;
}

.gallery_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    position: relative;
    top: 60px;
    color: #8A8A8A;
}

.graphic_design_one {
    background-image: url("../img/gallery-graphic-design1.jpg");
}

.graphic_design_two {
    background-image: url("../img/gallery-graphic-design2.jpg");
}

.graphic_design_three {
    background-image: url("../img/gallery-graphic-design3.jpg");
}

.graphic_design-four {
    background-image: url("../img/gallery-graphic-design4.jpg");
}

.graphic_design_five {
    background-image: url("../img/gallery-graphic-design5.png");
}

.graphic_design_six {
    background-image: url("../img/gallery-graphic-design6.jpg");
}

.web_design_one {
    background-image: url("../img/gallery-web-design1.jpg");
}

.web_design_two {
    background-image: url("../img/gallery-web-design2.jpg");
}

.web_design-three {
    background-image: url("../img/gallery-web-design3.jpg");
}

.web_design_four {
    background-image: url("../img/gallery-web-design4.jpg");
}

.web_design_five {
    background-image: url("../img/gallery-web-design5.png");
}

.web_design_six {
    background-image: url("../img/gallery-web-design6.jpg");
}

.landing_page_one {
    background-image: url("../img/gallery-landing-pages1.jpg");
}

.landing_page_two {
    background-image: url("../img/gallery-landing-pages2.jpg");
}

.landing_page_three {
    background-image: url("../img/gallery-landing-pages3.jpg");
}

.landing_page_four {
    background-image: url("../img/gallery-landing-pages4.png");
}

.landing_page_five {
    background-image: url("../img/gallery-landing-pages5.jpg");
}

.landing_page_six {
    background-image: url("../img/gallery-landing-pages6.jpg");
}

.wordpress_one {
    background-image: url("../img/gallery-wordpress1.jpg");
}

.wordpress_two {
    background-image: url("../img/gallery-wordpress2.jpg");
}

.wordpress_three {
    background-image: url("../img/gallery-wordpress3.jpg");
}

.wordpress_four {
    background-image: url("../img/gallery-wordpress4.jpg");
}

.wordpress_five {
    background-image: url("../img/gallery-wordpress5.jpg");
}

.wordpress_six {
    background-image: url("../img/gallery-wordpress6.jpg");
}

.btn_load_image {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #18CFAB;
    color: #FFFFFF;
    padding: 25px;
    margin: 90px auto 0;
    border-radius: 5px;
    transition: all ease 1s;
    box-shadow: 0 0 9px 1px #1a2422;
    display: block;
}

.btn_load_image:hover {
    transition: all ease 1s;
    background-color: #fff;
    color: #18CFAB;
    box-shadow: 0 0 9px 1px #1a2422;
}

.gif-load {
    width: 50px;
    height: 50px;
    position: relative;
    left: 50%;
    top: 55px;
    opacity: 0;
    transition: all ease 1s;
}

.gif-load.active-load {
    opacity: 1;
}


.section_news {
    background: #fff;
}

.news_wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_link {
    display: inline-block;
    margin-bottom: 45px;
}


.news_item {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 265px;
    height: 210px;
}

.news_item_date {
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 17px;
    display: inline-block;
    background: #203E38;
    transition: all ease 1s;
}

.margin-b {
    margin-bottom: 3px;
}

.news_item_ddtt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #fff;
}


.news_blog_title {
    padding: 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #717171;
    transition: all ease 1s;
}

.news_blog_coment {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #777;
}

.news_link:hover .news_blog_title {
    color: #18CFAB;
    transition: all ease 1s;
}

.news_link:hover .news_item_date {
    background-color: #18CFAB;
    transition: all ease 1s;
}

.news_item-one {
    background-image: url("../img/news-1.png");
}

.news_item_two {
    background-image: url("../img/news-2.png");
}

.news_item_three {
    background-image: url("../img/news-3.png");
}

.news_item_four {
    background-image: url("../img/news-4.png");
}

.news_item_five {
    background-image: url("../img/news-5.png");
}

.news_item_six {
    background-image: url("../img/news-6.png");
}

.news_item_seven {
    background-image: url("../img/news-7.png");
}

.news_item_eight {
    background-image: url("../img/news-8.png");
}

.section_slide {
    background-image: url("../img/background-image-slide.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section_heading_color {
    color: #fff;
}

.footer_section {
    padding: 60px 0;
    text-align: center;
    background: #22353F;
}

.copyright_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

.copyright_brand {
    color: #18CFAB;
}

.custom-bullet {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;

}

.custom-bullet .bullet-photo {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.bullet_photo_big {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 10px solid #105246;
}

.quotation_marks {
    display: inline-block;
    width: 50px;
    height: 35px;
    text-align: center;
    margin: 0 0 50px 275px;
}

.box_comment_human {
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: center;
    justify-content: center;
    position: relative;
    right: 180px;
}

.persons_name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 40px 0;
}

.human_position {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #bbb;
    margin-bottom: 40px;
}

.human_comment {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #bbb;
}
