* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.navbar {
	text-align: center;
	margin: 0 auto 32px;
	padding-top: 32px;
}

.link-navbar {
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2.3px;
	font-weight: 700;
	text-transform: uppercase;
	color: red;
	margin: 0 58px 0;
	font-family: sans-serif;
	padding: 14px;
	border-radius: 7px;
	transition: ease all 1s;
	box-shadow: 0 1px 6px 3px rgb(73, 52, 52);
}

.link-navbar:hover {
	color: black;
	transition: ease all 1s;
	box-shadow: 0 1px 6px 3px rgb(0, 0, 0);
}

.container {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.image-phone-hand {
	width: 100%;
}

.text-title {
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0px;
}

.text-block {
	font-size: 26px;
}

.text-paragraph {
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 1.5;
	padding-bottom: 20px;
}

.button {
	font-family: sans-serif;
	margin: 23px auto 65px;
	padding: 15px 40px;
	background-color: red;
	border-radius: 7px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000;
	transition: all ease 1s;
	box-shadow: 0 1px 6px 3px rgb(0, 0, 0);
}

.button:hover {
	transition: all ease 1s;
	color: #0deb18;
	background-color: black;
}

.copyright {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2.4px;
	color: #373737;
	text-align: right;
	margin-right: 80px;
	padding-bottom: 55px;
}

.check-one {
	font-family: sans-serif;
	font-size: 14px;
	position: fixed;
	right: 15px;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	color: red;
	padding: 14px;
	border-radius: 7px;
	transition: ease all 1s;
}

.check-two {
	font-family: sans-serif;
	font-size: 14px;
	position: fixed;
	right: 15px;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	color: red;
	padding: 14px;
	border-radius: 7px;
	transition: ease all 1s;
}
