.container {
    padding: 150px;
}

.form {
    margin: 0px auto;
    width: 550px;
    padding: 15px 75px 15px;
    border: solid;
}

.input {
    margin-left: 5px;
    width: 257px;
    height: 25px;
    outline: none;
}

.label {
    display: block;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.green-border {
    border: 3px groove green;
}

.red-border {
    border: 3px groove red;
}

.alert {
    position: relative;
    border: solid;
    margin-left: 75px;
    display: inline-block;
    width: 258px;
    visibility: hidden;
}

.span {
    padding: 0 0 0 5px;
    font-size: 18px;
    font-family: sans-serif;
}

.span-reset {
    position: absolute;
    left: 235px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 14px;
}

.span-error {
    border: solid;
    margin-top: 5px;
    margin-left: 76px;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    background-color: white;
    padding: 0 0 0 5px;
    width: 258px;
    visibility: hidden;
}

.value {
    border: solid green;
    color: green;
    background: ;
}

