.btn-wrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    border: none;
    min-width: 120px;
    color: white;
    font-size: 18px;
    background-color: orange;
    cursor: pointer;
}

.btn:active,
.btn:focus {
    outline: none;
}
