.wrapper {
    height: 100vh;
}

.form_pass {
    position: relative;
    display: inline-block;
    width: 450px;
    padding: 20px;
}

.input_wrapper {
    display: block;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    font-family: sans-serif;
    color: rgb(4, 27, 27);
}

.input_wrapper .input {
    margin-bottom: 20px;
}

.input {
    border: 1px solid black;
    height: 25px;
}

.fas {
    color: rgb(27, 27, 158);
    cursor: pointer;
    padding: 5px;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    font-family: sans-serif;
    padding: 10px;
    color: black;
    border: 1px solid blue;

}
