@import "./variables";

// Default
$defaultText: $matterhorn;
$defaultMetaInfoText: $grey;
$defaultArticleText: $zambezi;
$defaultLightText: $silver;
$defaultLightTitle: $white;
$defaultFill: $black;
$defaultLightFill: $cleanWhite;
$defaultBurgerMenuFill: $whiteSmoke;

// Links
$menuActiveLink: $cadetBlue;
$menuHoverLinkFill: $whisper;

//Social
$rss: $neonCarrot;
$facebook: $mariner;
$twitter: $summerSky;
$dribble: $persianPink;
$pinterest: $fireEngineRed;