$matterhorn: #4E4E4E;
$grey: #7C7C7C;
$zambezi: #5C5C5C;
$white: #FEFEFE;
$silver: #B9B9B9;
$cadetBlue: #57A4A4;
$whisper: #E5E5E5;
$whiteSmoke: #F5F5F5;
$black: #000;
$neonCarrot: #F8902E;
$mariner: #39599F;
$summerSky: #45B0E3;
$persianPink: #D97AB0;
$fireEngineRed: #CC212C;
$cleanWhite: #fff;

$mob-screen-width:  320px;
$tablet-screen-width: 768px;
$desktop-screen-width: 1170px;