* {
	margin: 0;
	padding: 0;
}

.header_zone {
	background: #313131;
	display: flex;
	justify-content: space-between;
}

.header_logo {
	display: flex;
	flex-basis: 200px;
	justify-content: space-around;
	align-items: center;
}

.header_title {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
}

.header_nav {
	display: flex;
	align-items: center;
	width: 55%;
	justify-content: space-between;
}

.heder_item {
	list-style: none;
}

.header_link {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}

.header_link:hover {
	color: #14B9D5;
	transition: 0.2s;
}

.header_search {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 22px 24px;
	background-color: #000;
}

.header_bottom {
	background-image: url('../img/header-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 165px;
	padding-bottom: 75px;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_subtitle {
	text-transform: uppercase;
	margin-bottom: 45px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: center;
	font-weight: 700;
	font-size: 27px;
	color: #fff;
}

.header_btn_wrap {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.header_btn {
	border-radius: 5px/5px;
	width: 170px;
	height: 55px;
}

.header_btn_left {
	background: #89CA62;
}

.header_btn_right {
	background: #14B9D5;
}

.header_btn_link {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
}

.architectur_section {
	padding: 55px 0 75px;
	background-color: #F2F2F2;
}

.architectur_title {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	text-align: center;
	margin-bottom: 52px;
	text-transform: uppercase;
	color: #18B4CF;
}

.flex_container {
	display: flex;
	width: 1180px;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 865px;
	align-items: flex-start;
}

.architectur_img {
	margin-bottom: 25px;
}

.img_width {
	width: 100%;
}

.image_desc {
	background: rgba(0, 0, 0, 0.0001);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
	padding: 25px 0;
	text-align: center;
}

.img_link {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #353A3D;
}

.clients {
	background-image: url('../img/best-client.png');
	background-size: cover;
	padding: 106px 0 191px;
	background-attachment: fixed;
}

.clients_title {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 105px;
	display: grid;
	justify-items: center;
}

.clients_title::after {
	content: "";
	margin-top: 90px;
	border-bottom: 3px solid #18B4CF;
	width: 70px;
}

.clients_wrap {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
	grid-column: span 1;
	justify-items: center;
	align-items: center;
}

.album {
	padding: 50px 0;
	background: #F2F2F2;
}

.album_title {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #18B4CF;
	margin: 0 0 50px 0;
}

.album_img_wrap {
	background: #F2F2F2;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.album_img {
	width: 100%;
}

.news {
	background: #F2F2F2;
	padding-bottom: 80px;
}

.news_wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 60px;
	width: 1180px;
	margin: 0 auto;
	justify-content: center;
}

.news_title {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 27px;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #18B4CF;
	grid-column: span 4;
}

.news_item {
	grid-column: span 3;
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 5px;
}

.news_item_two {
}

.news_item_three {
	grid-column: span 2;
}

.news_item_img {
	width: 100%;
}

.desc_title {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #353A3D;
	padding: 15px 15px;
	text-align: right;
}

.desc_subtitle {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	padding: 0 15px 15px;
	line-height: 1.6;
	align-items: center;
	text-align: right;
	color: #5B6469;
}

.description_bgr {
	background: rgba(0, 0, 0, 0.0001);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.news_item_image {
}

.news_desc {
}

.desc_title_f {
	padding: 25px 0 25px;
	text-align: center;
}

.footer {
	background-color: #000;
	padding: 25px 0 20px 0;
}

.footer_zone {
	margin: 0 auto;
	width: 1170px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.footer_copyright {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
}

.footer_logo {
	width: 100%;
}
