.container {
    margin: 0 auto;
    width: 1192px;
    font-family: 'Arimo', sans-serif;
}

.table {
    width: 100%;
    border: 30px solid #3A4965;
    border-collapse: collapse;
}

.table_row {
    background: #FAFAFA;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}

.table_border {
    border: 2px solid#cfcdcd;
}

.row_subtitle {
    padding: 27px 35px;
    font-size: 18px;
    color: #484848;
}

.text {
    display: block;
    font-size: 30px;
    width: 350px;
}

.table_text {
    padding: 30px 55px;
}

.table_text_green {
    background: #89C331;
}

.table_text_red {
    background: #F04A56;
}

.table_text_teal {
    background: #20807C;
}

.table_head {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.table_sub_head {
    font-weight: bold;
    font-size: 60px;
    color: #484848;
}

.price_cent {
    font-size: 24px;
    position: relative;
    bottom: 16px;
}

.table_price {
    padding: 13px 0;
}

.table_sub_text {
    position: relative;
    bottom: 14px;
    right: 44px;
    font-size: 18px;
    font-weight: normal;
}

.table_body {
    padding: 30px 45px;
}

.table_footer {
    padding: 30px 45px;
}

.fa {
    font-size: 24px;
    color: #848484;
}

.btn_gray,
.btn_green,
.btn_red,
.btn_teal {
    width: 192px;
    padding: 15px 25px 9px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px/4px;
    border-bottom: 6px solid #58505071;
    text-transform: uppercase;
}

.btn_gray {
    background: #484848;
}

.btn_gray:hover {
    color: black;
    background-color: aqua;
    transition: 0.2s;
}

.btn_green {
    background: #89C331;
}

.btn_green:hover {
    color: black;
    background-color: aqua;
    transition: 0.2s;
}

.btn_red {
    background: #F04A56;
}

.btn_red:hover {
    color: black;
    background-color: aqua;
    transition: 0.2s;
}

.btn_teal {
    background: #20807C;
}

.btn_teal:hover {
    color: black;
    background-color: aqua;
    transition: 0.2s;
}

.table_row_back {
    background-color: #F2F2F2;;
}

.table_row_background {
    background-color: #E3E3E3;;
}
