.button {
    margin: 20px 0;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    padding: 5px 10px;
}

.table {
    border: 1px solid grey;
    width: 600px;
    border-collapse: collapse;
    display: none;
    color: black;
}

.active {
    display: table;
}

.table__caption {
    padding: 5px;
}

.table__td {
    border: 1px solid grey;
    padding: 5px;
}

.city {
    color: red;
}